body {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    line-height: 1.4;
    background-color: #fff;
    /* color: #333; */
    padding: 50px 0;
}

main {
    width: 90%;
    max-width: 1380px;
    margin: 0 auto;
}

.container {
    max-width: 994px;
    display: flex;
    gap: 20px;
    margin: 0 auto;
}

.info {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #85BB8F;
    border-radius: 20px;
    padding: 116px 0;
    margin-bottom: 50px;
}

footer {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #DF8E3D;
    border-radius: 20px;
    padding: 50px 0;
}

@media screen and (max-width: 980px) {
   main {
       flex-direction: column;
       gap: 0px;
   }
}

h1 {
    margin-bottom: 0;
    margin-top: 0;
}

p {
    margin-top: 0;
    margin-bottom: 20px;
}

a {
    color: #088bed;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #222;
        color: #fff;
    }
}