html {
    scroll-behavior: smooth;
}

body {
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    display: flex;
    align-items: center;
    line-height: 1.4;
    background-color: #fff;
    color: rgba(255, 255, 255, 0.8);
    padding: 50px 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 0;
}

p {
    margin-top: 0;
    margin-bottom: 20px;
}

a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    display: inline-block;
}

a::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: rgba(255, 255, 255, 0.8);
    transition: width .3s;
}

a:hover::after {
    width: 0;
}

main {
    width: 90%;
    max-width: 1380px;
    margin: 0 auto;
}

.container {
    max-width: 994px;
    display: flex;
    gap: 20px;
    margin: 0 auto;
}

.info {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #85BB8F;
    border-radius: 20px;
    padding: 116px 0;
    margin-bottom: 50px;
    position: relative;
}

.info p {
    margin-bottom: 20px;
}

.info p:last-child {
    margin-bottom: 0;
}

.lets-connect {
    position: absolute;
    right: 35px;
    top: 30px;
}

footer {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #DF8E3D;
    border-radius: 20px;
    padding: 50px 0;
}

footer .container {
    justify-content: space-between;
    align-items: center;
}

.footer-left h2 {
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 10px;
}

.footer-left p {
    max-width: 350px;
    font-weight: 700;
    margin-bottom: 40px;
}

.footer-left p:last-child {
    margin-bottom: 0;
}

.footer-right .social {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;
    margin: 0;
}

.social a::after {
    height: 0;
}

.social li:last-child {
    margin-left: 40px;
}

@media screen and (max-width: 1174px) {
   main .container {
       flex-direction: column;
       gap: 0px;
       max-width: 100%;
   }

   .info, footer {
        margin-bottom: 20px;
        padding: 40px 30px;
   }

   footer .container {
        align-items: flex-start;
        gap: 20px;
   }
}

@media screen and (max-width: 576px) {
    .lets-connect {
        top: 15px;
        right: 15px;
    }
    
    .info {
        padding: 25px 15px 20px;
    }

    .footer-right .social {
        flex-wrap: wrap;
        justify-content: center;
    }

    .social li:last-child {
        margin-left: 0px;
    }
}



@media (prefers-color-scheme: dark) {
    body {
        background-color: #222;
        color: rgba(255, 255, 255, 0.8);
    }
}